:root {
    --violet: rgba(138, 43, 226, 1);
    --dark-violet: indigo;

    --pink: #F5C6EC;
    --hotpink: #E11299;
    --purple: #9A208C;
    --cream: #FFEAEA;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden; /* menghilangkan horizontal scroll */
}

.paragraph {
    width: 150%;
}
  
#wrapper {
    min-height: 100%;
    position: relative;
}
  
#content {
    padding-bottom: 50px; /* Tinggi footer */
}

.header1 {
    font-family: 'Maleantes Tres-d', sans-serif;
    font-size: 55px;
    color: #9A208C;
}

section {
    /* awalnya 100px */
    padding: 50px 0 50px;
}

.bg-violet {
    background-color: var(--violet) !important;
}

.bg-darkviolet {
    background-color: var(--dark-violet) !important;
}

.text-darkviolet {
    color: var(--dark-violet) !important;
}

.border-violet {
    border: 2px solid var(--violet) !important;
}

a.bg-violet:hover {
    background-color: var(--dark-violet) !important;
}

a.border-violet:hover {
    border: 2px solid var(--dark-violet) !important;
}

/* navbar */
nav {
    background-color: #F5C6EC;
}

.navbar button {
    width: 100%;
}

.navbar-nav a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #9A208C !important;
    border-bottom: 2px solid rgba(138, 43, 226, 0.3) !important;
}

/* hero section */
#hero-section {
    background: url(/assets/img/cat.jpg) no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
    padding: 0;
}

#hero-section::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(75, 0, 130, 0.6);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-section .row {
    position: absolute;
    z-index: 1;
}

#hero-section h1 {
    margin-top: 100px;
}

/* values products */
#values-products {
    background-color: #FFEAEA;
}

#values-products .row, #awards .row {
    row-gap: 3rem;
}

/* awards */
#awards img {
    height: 300px;
}

/* footer */
#footer {
    background-color: #9A208C;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Tinggi footer */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  
.footer-content p {
    text-align: center;
    margin: 0;
}

#backtotop {
    z-index: 99;
    bottom: 150px;
    right: 30px;
}

/* why */
#why {
    padding: 100px 0;
    background-color: #F5C6EC;
}

#why h2 {
    font-size: 40px;
    font-weight: 500;
    color: #9A208C;
}

#why .sub-title {
    font-size: 18px;
    color: black;
}

#why .card-layanan {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

#why .circle-icon {
    width: 70px;
    height: 70px;
    background-color: #E11299;
    border-radius: 50%;
    transition: all .2s ease-in;
}

#why .card-layanan h3 {
    color: #E11299;
    font-size: 24px;
    transition: all .2s ease-in;
}

#why .card-layanan p {
    color: #000;
    font-size: 14px;
    transition: all .2s ease-in;
}

/* hover why */
#why .card-layanan:hover {
    width: 100%;
    height: 313px;
    border-radius: 5px;
    background : linear-gradient(160deg, #E11299, #000);
    padding: 40px;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

#why .card-layanan:hover .circle-icon {
    background-color: #fff;
    transition: all .2s ease-in;
}

#why .card-layanan:hover h3 {
    color: #fff;
    font-size: 24px;
    transition: all .2s ease-in;
}

#why .card-layanan:hover p {
    color: #fff;
    font-size: 14px;
    transition: all .2s ease-in;
}

/* mobile */
@media(max-width: 768px) {
    #buy .links {
        row-gap: 1rem;
    }

    #buy .links a {
        width: 200px;
    }
}

/* dekstop */
@media(min-width: 992px) {
    /* values products */
    #values-products img {
        height: auto;
        width: 100%;
    }

    values-products .detail {
        width: 100%;
    }
}